<h3><%= Comment.model_name.human %></h3>
<div>
  <% commentable.comments.each do |comment| %>
    <p>
      <%= comment.body %>
    </p>
    <% if comment.user == current_user %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [commentable, comment], method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= render 'comments/form', commentable: commentable %>
</div>
