<%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
  <div>
    <%= form.text_area :body, required: true %>
  </div>

  <div>
    <%= form.submit t("views.comments.add") %>
  </div>
<% end %>
